.activities-container{
  margin: 25px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.activity-card{
  background-color: #EAF6FF;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  position: relative;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(71, 71, 71, 0.4);
}

.img-container {
  display: flex;
  width: 90%;
  margin: auto;
  align-content: center;
}

.img-container > img {
  border-radius: 5px;
  width: 100%;
  max-height: 230px;
}

.activity-data {
  margin-top: 20px;
  min-height: 50px;
  margin: auto;
  width: 90%;
}

.activity-data > p {
  margin-left: 2px;
  color: #232528;
  font-size:1rem;
  text-align: start;
  font-weight:700;
}

.par-btn {
  color: #E55454;
  position:absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.search-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #232528;
  border-radius: 20px;
  right: 2%;
  top: 50%;
}

.search-sym {
  color: #EAF6FF;
  font-size: 30px;
  margin-bottom: 2px;
  margin-right: 2px;
  cursor: pointer;
}